<form class="uk-form">
    <label>Contient ou est supérieur à un certain prix :  </label>
    <input id="searchInput" #searchInput (input)="searchNom.value = ''; searchType.value = ''; searchPrice.value = ''; updateAll(searchInput.value)" placeholder="Chercher">
    <br>
    <label>Recherche d'une catégorie précise : </label>
    <br>
    <input id="searchNom" #searchNom (input)="searchInput.value = ''; updateIndividual(searchNom.value, searchType.value, +searchPrice.value)" placeholder="Chercher un nom de produit">
    <input id="searchType" #searchType (input)="searchInput.value = ''; updateIndividual(searchNom.value, searchType.value, +searchPrice.value)" placeholder="Chercher un type de produit">
    <input id="searchPrice" #searchPrice (input)="searchInput.value = ''; updateIndividual(searchNom.value, searchType.value, +searchPrice.value)" placeholder="Chercher un prix >= du produit">
</form>